body{
    text-align: center;
   
}
.container{ display: grid;
    grid-template-columns: repeat(2, 158px);
    
    justify-content: center;
    align-content: center;}
.button{
    border: 7px solid #000;
    width: 125px;
    height: 125px;
    
    margin: 10px;
    border-radius: 25%;
}
.flash {
    background-color: white !important;
}